html,body{
	margin:0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family:'Montserrat', sans-serif;
}
/*buka dengan google chrome*/
body::-webkit-scrollbar{
	width: 1em;
}
body::-webkit-scrollbar-track{
	background: #f7f7f7;
}
body::-webkit-scrollbar-thumb{
	background-color: #8225e2;
	border-radius:10px;
}
.sekolah,.data,.progress,.suka{
	opacity: 0;
}
.muncul{
	opacity: 1;
	animation: transitionIn 2s;
}
.background{
	border-radius:20px;
	box-shadow: 0px 2px 10px rgba(51,204,255,0.5);
}
.clear{
	clear:both;
}
.container{
	height: 100%;
	margin:0px;
}
.blue{
	background: #33ccff;
	width: 350px;
	height:100%;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
	float:left;
}
.blue .border .foto{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-image: url('img/syamil.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	border:5px solid #33ccff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.blue .border{
	width: 195px;
	height: 195px;
/*	border:5px solid white;*/
	border-radius: 50%;
	
	margin:auto;
	background-size: cover;
	position: relative;
	top: 20px;
	background: #fff;
}
.nama{
	margin-top: 50px;
}
.nama p{
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 28px;
	line-height: 7px;
}
.tentang{
	margin-top: 30px;
}
.judul{
	font-size: 15px;
	width: 150px;
	background: #536263;
	padding: 10px 15px;
	border-radius:0 10px 10px 0; 
	color: white;
	text-align: center;
}
.tentang .isi_tentang{
	margin:15px 15px;
}
.kontak img{
	width:40px;
	height:40px;
	float:left;
}
.kontak .no{
	background: white;
	color:#536263;
	height:40px;
	float:left;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 10px;
	margin-left: 10px;
}
.isi_kontak{
	margin-left:15px;
	margin-top: 10px;
}

.skills{
	text-align: center;
	padding-top:40px; 
}
.judul_skil{
	background:#536263;
	color:#fff;
	height:42px;
	float:left;
	line-height: 42px;
	padding: 0 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	left:50%;
	top: -30px;
	transform: translate(-50%,0);
}
.judul_skil:hover{
	transition: 0.5s;
	background: #fff;
	color: black;
	cursor: pointer;
	border: 1px solid #33ccff;
	box-shadow: 0px 2px 5px rgba(51,204,255,0.5);
}
.pendidikan{
	position: relative;
	width:400px;
	min-height: 280px;
	float:left;
	padding: 20px;
	margin-left: 50px;
}
.profil{
	float:left;
	position: relative;
	width:400px;
	min-height: 280px;
	float:left;
	margin-left: 20px;
	padding: 20px;
}
.kemampuan{
	position: relative;
	width:400px;
	min-height: 220px;
	float:left;
	margin-top: 20px;
	padding: 20px;
	margin-left: 50px;
}
.hobi{
	margin-top: 20px;
	position: relative;
	width:400px;
	min-height: 220px;
	float:left;
	margin-left:20px;
	padding: 20px;
}
.skills img{
	width: 20px;
	margin-right:5px;
}
.kanan{
	position: relative;
}
.sekolah,.data,.suka{
	margin-top: 30px;
	text-align: left;
}
ul li{
	margin-bottom: 30px;
}
ul{
	color: #33ccff;
	border-left:1px solid #33ccff;
	list-style-type: disc;
	padding-left: 0.9em;
}
ul li .isi{
	color: black;
}
 ul li .isi span{
	font-weight: bold;
}

.progress{
	  margin-top:80px;
	  text-align: left;
	  float: left;
	  margin-left: 20px;
}
.progress1,.progress2{
	float: left;
	margin-right: 10px;
}
.progress p{
	margin:0px;
	font-size: 15px;
	font-weight: bold;
}
.suka{
	display: flex;
	align-items: center;
	justify-content: center;
}
.suka img{
	width: 50px;
	height: 45px;
}
.suka .hoby{
	float: left;
	margin-right: 25px;
	margin-bottom: 0px;
}

progress {
  border: none;
  width: 130px;
  height: 15px;
  background: white;
color: #33ccff;
}

progress::-webkit-progress-value {
  background: #33ccff;
}

progress::-webkit-progress-bar {
  background: #33ccff;
}

progress::-webkit-progress-value {
  background: #33ccff;
}

progress::-webkit-progress-bar {
  background: #eee;
}

progress::progress-value {
  background: #33ccff;
}

progress::progress-bar {
  background: #33ccff;
}

progress::progress-value {
  background: red;
}

progress::progress-bar {
  background: #33ccff;
}
.kanan{
	position: relative;
	animation: transitionIn 3s;
}
/*animation*/
@keyframes transitionIn{
	from{
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to{
		opacity: 1;
		transform: rotateX(0);
	}
} 

@media(max-width: 540px) {
	html,body{
		height: 100%;
		width:  100%;
	}
	*{
		padding: 0px;
		box-sizing: border-box;
	}
	.blue{
		min-height:654px;
		width: 100vw;
	    position: relative;
/*	    margin-left: -50vw;*/
		padding-bottom: 20px;
	    margin-bottom: 50px;
	}
	.kontak{
		margin-bottom: 20px;
	}
	.skills{
		text-align: center;
	}
	.pendidikan{
		display: flex;
/*		justify-content: center;*/
		margin: auto;
		clear:both;
		width: 100vw;
		position: relative;
		margin-left: 0px;
	}
	.profil{
		margin-left: 0px;
		margin-top: 20px;
		width: 100vw;
		position: relative;
	}
	.kemampuan{
		width: 100vw;
		margin-left: 0px;
	}
	.hobi{
		margin-left: 0px;
		width: 100vw;
	}
	.judul_skil{
		display: inline-block;
		text-align: center;
		margin-left:0px;
		font-size: 0.8em;
	}
}